.container {
  position: absolute;
  bottom: 20px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #ffffff4c;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  opacity: 0.3;
}

.container:hover {
  background-color: #949494;
  opacity: 0.7;
}
