.container {
  display: flex;
  margin: 5px;
}

.foodContainer {
  flex: 1;
}

.itemContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.awardContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  flex-direction: row;
}

.leftSection {
  flex: 1;
  margin: 5px;
  background-color: grey;
}

.rightSection {
  flex: 1;
  margin: 5px;
  background-color: grey;
}

.subTitle {
  font-size: 30px;
}

@media (max-width: 1200px) {
  .itemContainer {
    flex-direction: column;
    height: 400px;
  }
}