.container {
  display: flex;
  margin: 5px;
}

.leftContainer {
  flex: 1;
}

.rightContainer {
  width: 100px;
  margin: 5px;
  background-color: rgb(31, 31, 31);
}

.itemContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.awardContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  flex-direction: row;
}

.leftSection {
  flex: 1;
  margin: 5px;
  background-color: rgb(31, 31, 31);
}

.rightSection {
  flex: 1;
  margin: 5px;
  background-color: rgb(31, 31, 31);
}

.subTitle {
  font-size: 30px;
}

.item {
  flex: 1;
  display: flex;
  height: 200px;
  background-color: rgb(35, 33, 29);
  margin: 5px;
}
