.hero {
    position: relative;
    overflow: hidden;
    /* Set a specific height or make it responsive */
    height: 70vh;
}

.heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the video cover the available space, similar to background-size: cover; */
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity to your liking */
    /* Ensure it covers the video */
    z-index: 1; /* This ensures the overlay is above the video but below the content */
  }

.overlayContainer {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 30px;
    justify-content: end;
}

.overlayText {
    color: rgb(234, 122, 18);
    font-size: 52px;
    font-style: oblique;
    padding: 0px;
    margin: 15px;
}

.overlayTextBottomText {
    color: rgb(234, 122, 18);
    font-size: 35px;
    font-style: oblique;
    padding: 0px;
    margin: 15px;
}

.test {
    display: flex;
    flex-direction: row;
    height: 200px;
}