.container {
  position: fixed;
  height: 65px;
  aspect-ratio: 1;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  display: flex;
}

.cookieButton {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
  background-color: rgba(104, 104, 104);
  opacity: 0.5;
}

.cookieButton:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
  background-color: rgb(104, 104, 104);
  opacity: 0.6;
}

.cookieButton:active {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
  background-color: rgba(104, 104, 104, 0.7);
  opacity: 0.9;
}

.cookieIcon {
  object-fit: cover;
  object-position: 0 1px;
}
