.navbarContainer {
  display: flex;
  background-color: rebeccapurple;
  height: 100px;
}

.navbarLogoText {
  font-size: 30px;
}

.navbarLinks {
  display: flex;
  height: 100%;
  width: 900px;
  background-color: lightblue;
  justify-content: space-evenly;
  align-items: center;
}
