.navbarContainer {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 100px;
  border-bottom: solid 1.5px;
  border-color: rgb(219, 219, 219);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

}

.navbarLogoContainer {
  display: flex;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.navbarLogoText {
  color: rgb(234, 122, 18);
  display: flex;
  font-size: 45px;
  font-family: 'Pacifico';
  align-items: center;
  text-shadow: 
    -1px -1.5px 0 #000,  
     1px -1.5px 0 #000,
    -1px  1.5px 0 #000,
     1px  1.5px 0 #000; /* Outline effect */
}

.navbarLinks {
  display: flex;
  height: 100%;
  width: 700px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.navbarLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.15s;
  color: black;
  font-size: 16px;
  width: 120px;
}

.navbarLink:hover {
  color: rgba(0, 0, 0, 0.5);
}

.navbarLink:active {
  font-size: 15px;
}

.navbarUserContainer {
  display: flex;
  flex-direction: row;
}