.container {
  width: 140px;
  margin: 5px;
  height: auto;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
  justify-content: left;
  align-content: center;
  padding-left: 20px;
}

.buttonTextContainer {
  font-size: 20px;
  font-style: italic;
}

.buttonText {
  margin: 0px;
}

@media (max-width: 800px) {
  .container {
    width: 100px;
  }

  .buttonTextContainer {
    font-size: 16px;
  }
}
